# API general settings
API_IP='localhost'
API_PORT='8080'

# Keycloak authentication server settings
KEYCLOAK_URL='http://localhost:8888/'
KEYCLOAK_CLIENT_ID='backend'
KEYCLOAK_REALM_NAME='thingy-orange'
KEYCLOAK_SECRET_KEY='H16x5t3PbPQmiBM3BwPBNimycEr4wF8T'
