DOCKER_INFLUXDB_INIT_MODE=setup
DOCKER_INFLUXDB_INIT_USERNAME=root
DOCKER_INFLUXDB_INIT_PASSWORD=password
DOCKER_INFLUXDB_INIT_ORG=thingy-orange
DOCKER_INFLUXDB_INIT_BUCKET=thingy-data
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=Influxsuperusertokenfordevelopmentpleasechangeinproduction