KEYCLOAK_ADMIN=root
KEYCLOAK_ADMIN_PASSWORD=password
KC_HOSTNAME_STRICT=false
KC_HTTP_ENABLED=true
KC_DB_URL='jdbc:postgresql://postgres/thingy_db' # This links to the "postgres" service above
#DB_URL_PORT=5432
KC_DB=postgres
KC_DB_USERNAME=root
KC_DB_PASSWORD=password
KC_DB_SCHEMA=keycloak