KEYCLOAK_ADMIN=root
KEYCLOAK_ADMIN_PASSWORD=password
# KC_HOSTNAME: yourauthurl.ch #Production
KC_HOSTNAME_STRICT=false
KC_HTTP_ENABLED=true
#KC_PROXY_ADDRESS_FORWARDING: true  #Production
#KC_PROXY: edge  #Production
KC_DB_URL='jdbc:postgresql://postgres/thingy_db' # This links to the "postgres" service above
KC_DB=postgres
KC_DB_USERNAME=root
KC_DB_PASSWORD=password
KC_DB_SCHEMA=keycloak